# frontend
# logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/.env.production

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?


# backend
/backend/**/__pycache__/
/backend/venv/
/backend/.venv/
/backend/*.pyc
/backend/.env
/backend/.DS_Store
/backend/data/*
!/backend/data/
!/backend/data/nd_gain_country_year.csv
/backend/scripts/*
!/backend/scripts/
!/backend/scripts/process_nd_gain.py

to-do
/resources 2